<nav>
  <a href="/">
    <img src="/assets/img/avatar-colorful.jpg" id="avatar" />
  </a>
  <div id="bio">
    <p>
        Founder/CEO <a href="https://pulumi.io">Pulumi</a> •
        Cloud, languages, and developer tools guy •
        Eat, sleep, code, repeat
    </p>
  </div>
  <div id="series">
    <p>
        <b>Popular:</b><br>
        <a href="/2019/09/05/journey-to-pulumi-1-0">Pulumi</a><br>
        <a href="/2015/11/03/blogging-about-midori">Midori</a><br>
        <a href="/2013/02/17/software-leadership-series">Software Leadership</a><br>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
  &copy; Joe Duffy, 2018
</nav>
