<nav>
  <a href="/">
    <img src="/assets/img/avatar-colorful.jpg" id="avatar" />
  </a>
  <div id="bio">
    <p>
        Co-founder/CEO of Pulumi, a new cloud startup in Seattle, WA.  Previously ran
        the languages and tools group at Microsoft, and led the creation of a 
        <a href="/2015/11/03/blogging-about-midori/">cloud operating system</a>'s programming platform.
    </p>
  </div>
  <div id="series">
    <p>
        <b>Popular Series:</b><br>
        <a href="/2015/11/03/blogging-about-midori">Midori</a><br>
        <a href="/2013/02/17/software-leadership-series">Software Leadership</a><br>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
  &copy; Joe Duffy, 2016
</nav>
